.navbar {
    -webkit-box-shadow: 0px 0px 14px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 14px -2px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 14px -2px rgba(0,0,0,0.75);
    margin: 0 !important;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.underlined {
    border-width: 0px 0px 1px 0px !important;
    border-style: solid solid solid solid !important;
    border-color: #9f9f9f !important;
}

.article-title-container {
    margin-bottom: 40px;
    position: relative;
}

.article-title-container .edit-button {
    position: absolute;
    right: 10px;
    top: 15px;
    text-decoration: none;
    color: grey;
    font-size: 25px;
    transition: all 200ms;
}

.article-title-container .edit-button:hover {
    transform: scale(1.2);
    color: #47a3ff;
}

.article-body {
    margin-top: 80px;
}

.content-body {
    border-width: 0px 0px 0px 1px;
    border-style: solid solid solid solid;
    border-color: #9f9f9f;
}

div.contents {
    position: fixed;
    top: 70px;
}

.figure-standard {
    width: 400px;
    height: auto;
}

.figure-small {
    width: 150px;
    height: auto;
}

.figure-big {
    width: 800px;
    height: auto;
}

.edit-input {
    border: 0;
    width: 100%;
    outline: none;
}

.edit-topbar li {
    padding: 0 5px;
    cursor: pointer;
}

.edit-topbar li[selected] {
    background-color: #e5e5e5;
}

.save-changes-button {
    position: fixed;
    bottom: 20px;
    left: 20px;
}

/*Content Frame*/
.content-frame-edit {
    border: 1px solid #dbdbdb;
    border-radius: 3px;
    margin: 5px 0 20px 0;
    padding: 5px;
}

.content-frame-edit-buttons {
    position: absolute;
    right: 20px;
    bottom: 0;
    cursor: default;
}

.content-frame-edit-buttons span {
    color: #dbdbdb;
    font-size: 15px;
    transition: all 200ms;
    cursor: pointer;
}

.content-frame-edit-buttons span:hover {
    transform: scale(1.2);
    color: #47a3ff;
}

.content-frame-edit-add {
    border: 1px dashed #dbdbdb;
    border-radius: 3px;
    margin: 5px 0;
    padding: 2px;
    text-align: center;
    color: #dbdbdb;
    font-size: 30px;
}

.content-frame-edit-add span {
    cursor: pointer;
    transition: all 200ms;
}

.content-frame-edit-add span:hover {
    transform: scale(1.2);
    color: #4aaa3d;
}

div.alerts-container {
    position: fixed;
    bottom: 5px;
    width: 96%;
    left: 2%;
}