.navbar {
    -webkit-box-shadow: 0px 0px 14px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 14px -2px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 14px -2px rgba(0,0,0,0.75);
    margin: 0 !important;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99;
}

body {
    position: relative;
    min-height: 100vh;
    padding-top: 80px;
    margin: 0;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.login-panel {
    cursor: pointer;
}

.underlined {
    border-width: 0px 0px 1px 0px !important;
    border-style: solid solid solid solid !important;
    border-color: #9f9f9f !important;
}

.article-body {
    padding-bottom: 30px;
}

.article-title-container {
    margin-bottom: 40px;
    position: relative;
}

.article-title-container .edit-button {
    position: absolute;
    right: 10px;
    top: 15px;
    text-decoration: none;
    color: grey;
    font-size: 25px;
    transition: all 200ms;
}

.article-title-container .edit-button:hover {
    transform: scale(1.2);
    color: #47a3ff;
}

.article-title-container .history-button {
    position: absolute;
    right: 40px;
    top: 15px;
    text-decoration: none;
    color: grey;
    font-size: 25px;
    transition: all 200ms;
}

.article-title-container .history-button:hover {
    transform: scale(1.2);
    color: #47a3ff;
}

.content-body {
    border-width: 0px 0px 0px 1px;
    border-style: solid;
    border-color: #9f9f9f;
}

div.contents-desktop {
    position: fixed;
    top: 70px;
}

.figure-standard {
    width: 100%;
    max-width: 400px;
    height: auto;
}

.figure-small {
    width: 100%;
    max-width: 150px;
    height: auto;
}

.figure-big {
    width: 100%;
    max-width: 800px;
    height: auto;
}

.edit-input {
    border: 0;
    width: 100%;
    outline: none;
}

.edit-topbar li {
    padding: 0 5px;
    cursor: pointer;
}

.edit-topbar li[selected] {
    background-color: #e5e5e5;
}

div.medias-list-container {
    margin-top: 20px;
}

.save-changes-button {
    position: fixed;
    bottom: 20px;
    left: 20px;
}

.new-section-button {
    position: fixed;
    bottom: 70px;
    left: 20px;
}

section {
    position: relative;
}

.section-edit-buttons {
    position: absolute;
    right: 5px;
    top: 10px;
    cursor: default;
}

.remove-button:hover {
    color: #c93838 !important;
}

.section-edit-buttons span {
    color: #dbdbdb;
    font-size: 15px;
    transition: all 200ms;
    cursor: pointer;
}

.section-edit-buttons span:hover {
    transform: scale(1.2);
    color: #47a3ff;
}

.contents-mobile {
    position: fixed;
    right: 0;
    top: 20%;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    padding: 5px 0;
    z-index: 1000;
    cursor: pointer;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: #e8e8e8;
}

div.contents-mobile-container {
    position: fixed;
    right: 0;
    top: 20%;
    background-color: #e8e8e8;
    z-index: 999;
    display: none;
    padding: 10px 10px 10px 30px;
}

div.contents-mobile-container ol {
    padding: 0;
    margin: 0;
    width: 100%;
}

div.contents-mobile-container button {
    width: 100%;
    margin-top: 5px
}

footer {
    text-align: center;
    width: 100%;
    position: absolute;
    bottom: 0;
    margin: 0;
    height: 30px;
}

div.footer p {
    margin: 0;
}

/*Content Frame*/
.content-frame-edit {
    border: 1px solid #dbdbdb;
    border-radius: 3px;
    margin: 5px 0 20px 0;
    padding: 5px;
}

.content-frame-edit-buttons {
    position: absolute;
    right: 20px;
    bottom: 0;
    cursor: default;
}

.content-frame-edit-buttons span {
    color: #dbdbdb;
    font-size: 15px;
    transition: all 200ms;
    cursor: pointer;
}

.content-frame-edit-buttons span:hover {
    transform: scale(1.2);
    color: #47a3ff;
}

.content-frame-edit-add {
    border: 1px dashed #dbdbdb;
    border-radius: 3px;
    margin: 5px 0;
    padding: 2px;
    text-align: center;
    color: #dbdbdb;
    font-size: 30px;
}

.content-frame-edit-add span {
    cursor: pointer;
    transition: all 200ms;
}

.content-frame-edit-add span:hover {
    transform: scale(1.2);
    color: #4aaa3d;
}

div.alerts-container {
    position: fixed;
    bottom: 5px;
    width: 96%;
    left: 2%;
}

div.form-input-container {
    margin-bottom: 20px;
}

.validation-message {
    color: red;
}