@{
    ViewBag.Title = "Medias explorer";
}
<div class="article-body">
    <div class="container">
        <h1 class="underlined">Medias explorer</h1>
        <br />

        <div>
            <input id="medias-filter-input" type="text" placeholder="filter" />
            <button id="medias-filter-button" type="button" class="btn btn-primary">
                <span class="fa fa-search" aria-hidden="true"></span>
            </button>

            <div id="medias-container">

            </div>
        </div>
    </div>
</div>
