@model WikiHash.Models.MessageViewModel
@{
    ViewBag.Title = Model.Title;
}
<div class="article-body">
    <div class="container">
        <h1 class="underlined">@Model.Title</h1>
        <br />
        <p>@Model.Message</p>
    </div>
</div>
