@model WikiHash.Models.IndexViewModel
@{
    ViewBag.Title = "Account";
}

<div class="article-body">
    <div class="container">
        <h1 class="underlined">Account</h1>
        <br />
        <h3 class="underlined"><span class="fa fa-shield" aria-hidden="true"></span> Security</h3>
        <p>
            @if (Model.HasPassword)
            {
                <a href="@Url.Action("ChangePassword")"><span class='fa fa-key' aria-hidden='true'></span> Change password</a>
            }
            else
            {
                <a href="@Url.Action("SetPassword")"><span class='fa fa-key' aria-hidden='true'></span> Create password</a>
            }
        </p>
    </div>
</div>
